
<footer class="site-footer" style="filter: blur(0px);background-color: #000;padding:200px 0 0;
background-image: url(https://raw.githubusercontent.com/o-x-o/o-x-o.github.io/master/assets/bg-dark-flower.jpg);
background-repeat: repeat-y;
background-position: center bottom;
background-attachment: fixed;">
    <div style="color: #828282;font-style:italic;text-align:right;margin:0px auto 10px;">
        <div class="wrapper"> 
            just wanna follow your step.
        </div>
    </div> 
      <div class="wrapper">

       
    
       
        <h2 class="footer-heading" style="text-align:right;color:#333;">{{ site.author | escape }}</h2>

        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li></li>
            </ul>
          </div>
    
          <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              {% if site.github_username %}
              <li>
                {% include icon-github.html username=site.github_username %}
              </li>
              {% endif %}
    
              {% if site.twitter_username %}
              <li>
                {% include icon-twitter.html username=site.twitter_username %}
              </li>
              {% endif %}
            </ul>
          </div>
    
          <div class="footer-col footer-col-3">
            <p></p>
          </div>
        </div>

            
    
      </div>
    
    </footer>