<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body style="background: #000;">

    {% include header.html %}

    <center style="position: relative;top: -57px;z-index: 0;">
            <div style="filter: blur(0px);background-color: #000;position: absolute;width: 100%;height: 100%;
            background-image: url(https://raw.githubusercontent.com/o-x-o/o-x-o.github.io/master/assets/bg-dark-moon.jpg);
            background-repeat: no-repeat;
            background-position: center -100px;
            background-attachment: fixed;"></div>
            <div class="wrapper" style="color: #828282;padding: 200px;position: relative;text-align: center;text-decoration: inherit;font-size: 80px;
            font-weight: 100;margin:57px auto -57px;"><i>z0ne</i></div>
        </center>


    <main class="page-content" aria-label="Content" style="padding:180px 0 180px;background-color: #212;border-bottom:1px solid #686;">
      <div class="wrapper">
            
            
        {{ content }}
      </div>
    </main>

    <center style="position: relative;">
            <div style="filter: blur(0px);background-color: #000;position: absolute;width: 100%;height: 100%;
            background-image: url(https://raw.githubusercontent.com/o-x-o/o-x-o.github.io/master/assets/bg-dark-flower.jpg);
            background-repeat: repeat-y;
            background-position: center bottom;
            background-attachment: fixed;"></div>
            <center style="color: #828282;padding: 60px;position: relative;text-align: center;font-size: 20px;"><i></i></center>
        </center>


    {% include footer.html %}

  </body>

</html>